<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

</head>
<body>

<div class="container py-5">
    <div>
        <a href="/employee/create">
            <button>create new employee</button>
        </a>
        <a href="/server/employee/list/filters/clear">
            <button>clear filters</button>
        </a>
        <a href="/server/employee/list/csv">
            <button>export</button>
        </a>
        <a href="/server/employee/list/pdf">
            <button>exportPdf</button>
        </a>
    </div>
    <!-- Vos filtres ici -->
    <div class="container mt-3">
        <form action="/employee/list" class="row g-3" th:object="${employeeFilters}" method="get">
            <!-- Vos champs de filtre ici -->
            <div class="my-3 col-12">
                <button type="submit">Filter</button>
            </div>
        </form>
    </div>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Image</th>
                <th>Last name</th>
                <th>First name</th>
                <th>Sex</th>
                <th>positions</th>
                <th>Entrance date</th>
                <th>Departure date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : *{employees}">
                <td><img th:src="*{employee.stringImage}" alt="no image"></td>
                <td><p th:text="*{employee.lastName}"></p></td>
                <td><p th:text="*{employee.firstName}"></p></td>
                <td><p th:text="*{employee.sex.toString()}"></p></td>
                <td><p th:each="position : *{employee.positions}" th:text="*{position.name}"></p></td>
                <td><p th:text="*{employee.entranceDate.toString()}"></p></td>
                <td><p th:text="*{employee.departureDate.toString()}"></p></td>
                <td>
                    <a th:href="'/employee/edit/'+ *{employee.id}">
                        <button>edit</button>
                    </a>
                    <a th:href="'/employee/show/'+*{employee.id}">
                        <button>show</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
